/* Colors: [for easy access]
Teal - #007d7b
(Black) - #000000
(White) - #ffffff
*/

/* --------- PHOTOGALLERY STYLESHEET --------- */


html {
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    width: 485px;
    min-width: 485px;
    max-width: 1300px;
    margin: 0 auto;
    background-color: #ffffff;
}
nav, #contact-form {
    background-color: #000000;
    color: #ffffff;
}
nav {
    margin: 0 auto;
    padding: 10px;
}
nav ul {
    /*display: grid;
    grid-template-columns: 1fr 1fr 1fr;*/
    display: flex;
    margin: 0 auto;
    padding: 0;
    justify-content: center;
}
nav li {
    list-style: none;
    margin: 0;
    padding: 10px 0;
}
nav a{
    text-decoration: none;
}
[href="#top"]{
    position: fixed;
    bottom: -4px;
    right: -4px;
    border-style: solid;
    border-color: #ffffff;
    color: #ffffff;
    background-color: #000000;
    font-size: 1.25em;
}
footer {
    padding: 10px;
    text-align: center;
    background-color: #000000;
    color: #ffffff;
}

#about, #gallery {
    padding: 5px;
}
#gallery{
    display: block;
}



/* --------- HIDE --------- */
form label:first-of-type{
    visibility: hidden;
}



/* ------ GALLERY / FIGURE STYLES ------ */
#gallery-imgs{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    margin: 0 auto;
}
figure {
    text-align: center;
    margin: 0 auto;
}
img {
    display: block;
    margin: 0 auto;
}
figcaption {
    display: block;
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
}

.white{
    color: #ffffff;
}
.black{
    color: #000000;
}
.img-top{
    position: relative;
    top: -265px;
    /*background-color:rgba(250, 0, 0, 0.5);*/ /*---used to distinguish---*/
}
.top-alt{
    position: relative;
    top: -615px;
    /*background-color:rgba(0, 0, 250, 0.5);*/ /*---used to distinguish---*/
}
.bottom{
    position: relative;
    bottom: 30px;
    /*background-color: rgba(0, 250, 0, 0.5);*/ /*---used to distinguish---*/
}



/* --------- FORM STYLES --------- */
form, label, input {
    display: block;
    margin: 0 auto;
}
label {
    padding: 10px 10px 0 10px;
    margin-left: 1%;
    font-weight: bold;
}
.form-input {
    padding: 5px;
    border-radius: 2px;
    margin: 0 auto;
    margin-bottom: 15px;
    height: 30px;
    width: 97%;
}
::placeholder {
    color: #007d7b;
    padding: 10px;
    font-weight: bold;
}
#submit-form {
    background-color: #007d7b;
    color: #ffffff;
    border-radius: 20px;
    border-style: none;
    width: 50%;
    padding: 10px;
    font-weight: bold;
}



/* --------- FONT, TEXT STYLES --------- */
nav a:hover{
    color: #ffffff;
    background-color: #007d7b;
}
#submit-form:hover{
    background-color: #004D4C;
}
#back-to-top:hover{
    background-color: #ffffff;
    color: #000000;
}


/* --------- FONT, TEXT STYLES --------- */
p {
    font-size: 1.25em;
    margin: 0 auto;
    padding: 10px;
}
figcaption, label, input, small {
    font-size: 1em;
}
nav a {
    font-size: 1.5em;
    color: #ffffff;
    font-weight: bold;
    padding: 10px;
}
h1 {
    font-size: 3em;
    color: #007d7b;
    margin: 0;
    padding: 5px;
}
h2 {
    font-size: 2em;
    text-align: center;
    margin: 0;
}
a{
    font-size: 1.25em;
}

#contact-form {
    padding: 15px;
    background-color: #000000;
}
#contact-form h2, #contact-form p {
    text-align: center;
}

h1, h2, nav li, figcaption, label, input, small{
    text-transform: uppercase;
}
.white{
    color: #ffffff;
}
.black{
    color: #000000;
}



/* --------- MEDIA QUERIES --------- */
@media screen and (min-width:880px){
    body{
        width: 880px;
    }
    nav ul{
        justify-content: center;
    }
    #gallery-imgs{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0;
        margin: 0;
    }
    #gallery-imgs figure{
        padding: 0;
        margin: 0;
    }
    #back-to-top{
        visibility: hidden;
    }
}

@media screen and (min-width:1300px){
    body{
        width: 1300px;
    }
    h1{
        float: inline-end;
    }
    nav ul{
        justify-content: right;
    }
    #gallery-imgs{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0;
        margin: 0;
    }
    #gallery-imgs figure{
        padding: 0;
        margin: 0;
    }
}